$grid-background-column-color: rgba(#eeeeef,.5);
$grid-background-baseline-color: rgba(#009a8e,.3);

$light-gray: #eeeeef;
$dark-gray: #383735;
$gray: #c9cbca;
$green: #468847;
$red: #a00;
$white: white;
$black: #252525;


$wall-white: #efefed;

$split-line-color: rgba(black,.05);
