// basic for susy
$total-columns  : 12;
$column-width   : 70px;
$gutter-width   : 10px;
$grid-padding   : 0;
// $container-style: static;
// $container-width: 950px;
// add media

$wide-screen: 1280px 12;

// debug
@import "layout-debug";

body {
  background: #eeeeef;
  min-width: 950px;
}

#{$page-container} {
  @include container($total-columns, static);
  background: white;
  min-height: 1600px;
  max-width: none;
  width: 950px;
  transition: width .3s;
  @include at-breakpoint($wide-screen) {
    @include with-grid-settings(12,90px,10px,0) {
      @include set-container-width(12, static);
    };
  }
}

$nav-width: 3;
$main-width: $total-columns - $nav-width;

.nav {
  @include span-columns($nav-width);
}

.main {
  @include span-columns($main-width omega);
}
