// basic for susy
$total-columns  : 12;
$column-width   : 70px;
$gutter-width   : 10px;
$grid-padding   : 0;
$container-style: static;
$container-width: 950px;
// add media

// no media

// debug
@import "layout-debug";

body {
  background: #eeeeef;
}

#{$page-container} {
  @include container;
  background: white;
  min-height: 1600px;
}

$nav-width: 3;
$main-width: $total-columns - $nav-width;

.nav {
  @include span-columns($nav-width);
}

.main {
  @include span-columns($main-width omega);
}
