// basic for susy
$total-columns  : 12;
$column-width   : 70px;
$gutter-width   : 10px;
$grid-padding   : 0;
// $container-style: static;
// $container-width: 950px;
// add media

$wide-screen: 1280px 12;

// debug
@import "layout-debug";

body {
  min-width: 960px;
  background: #fafafa;
  @include background( linear-gradient( rgba(black, .02) , rgba(black, .1) ) ); // multiple: comma-delimited
}

#{$page-container} {
  @include container($total-columns, static);
  background: white;
  min-height: 800px;
  max-width: none;
  width: 950px;
  transition: width .3s;
  @include at-breakpoint($wide-screen) {
    @include with-grid-settings(12,90px,10px,0) {
      @include set-container-width(12, static);
    };
  }
}

$nav-width: 3;
$main-width: $total-columns - $nav-width;
$main-inner-container-width: 7;

.nav {
  @include span-columns($nav-width);
}

.main {
  @include span-columns($main-width omega);
}

.main-inner-container {
  @include padding-leader(3.25);
  @include span-columns($main-inner-container-width, $main-width);
  @include pre(1, $main-width);
  // min-height: 300px;
  // &.col-8 {
  //   @include span-columns(8, $main-width);
  //   margin-left: 0;
  // }
}
