%helvetica-light {
  // font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
  font-family: "AvenirNext-Regular",
               "HelveticaNeue-Light", "Helvetica", "Arial",
               "Heiti TC",
               "微軟正黑體", "Microsoft JhengHei",
               sans-serif;
  font-weight: 300;
}

body {
  @extend %helvetica-light;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%subpixel {
  -webkit-font-smoothing: subpixel-antialiased;
}

.hide {
  display: none;
}

.divider {
  height: 0;
  border-top: 1px solid #666;
  margin: 8px 0;
}

#{headings()} {
  @include reset-box-model;
  @include adjust-font-size-to(32px);
  @extend %helvetica-light;
}

h4 {
  @include adjust-font-size-to(16px);
}

a {
  @include link-colors(#369);
  @include hover-link;
}

p {
  @include reset-box-model;
  @include adjust-font-size-to(13px);
  @include leader(1);
  @include trailer(1);
}

%light {
  font-family: "AvenirNext-UltraLight", "Avenir-Light", "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
}
