// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$hide-text-direction: right;
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "colors";
@import "typography";
@import "layout";

// import component and partial
@import "component/formalize";
@import "component/add-cart";
@import "component/button";
@import "component/button-group";
@import "component/form";
@import "component/split-line";
@import "component/social-link";
@import "component/pills";
@import "component/breadcrumb";
// ----------------------------
@import "partials/nav";
@import "partials/events";
@import "partials/main";
@import "partials/list";

// pages
@import "pages";
