// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$hide-text-direction: right;
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "colors";
@import "typography";
@import "layout";
@import "pages";

// import component and partial
@import "component/add-cart";
@import "component/formalize";
@import "component/button";
@import "component/button-group";
@import "component/form-group";
@import "component/split-line";
// ----------------------------
@import "partials/nav";
@import "partials/events";
