.news {

  .post {
  }

  .post-header {
    @include trailer(.25);
    .post-title {
      margin-bottom: 3px;
      a {
        @include unstyled-link;
        @include link-colors($black, $red);
      }
    }
    .post-date {
      margin-bottom: 3px;
      @include adjust-font-size-to(13px);
      color: #999;
    }
  }

  .post-footer {
    border-bottom: 1px solid #ccc;
    .read-more {
      @include adjust-font-size-to(13px);
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }

  .post-group {
    .post {
      @include leader(2);
      @include trailer(2);
    }
    .post-footer {

      text-align: right;
      // margin-top: -12px;
    }
  }

}

