.news {

  .post {
    @include trailer(2);
  }

  .post-header {
    @include trailer(.25);
    .post-title {
      margin-bottom: 3px;
      a {
        @include unstyled-link;
        @include link-colors($black, $red);
      }
    }
    .post-date {
      margin-bottom: 3px;
      @include adjust-font-size-to(13px);
      color: #999;
    }
  }

  .post-body {

  }

  .post-footer {
    border-top: 1px solid #ccc;
    text-align: right;
    .read-more {
      @include adjust-font-size-to(13px);
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }

}

