.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: default;
}

.mfp-figure:after {
  @include box-shadow(none);
  background-color: transparent;
}

.mfp-bg {
  background-color: white;
  opacity: 1;
}

.mfp-close {
  position: fixed;
  top: 0;
  left: 0;
  color: $black;

}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: $black;
  width: 44px;
  height: 44px;
  padding: 0;
  text-align: center;
  opacity: 1;
  // background-color: rgba(black, 0.075);
}


.mfp-arrow {
  opacity: 1;
  &:hover {
    background-color: rgba(black, 0.125);
  }
  &:focus {
    @include box-shadow(none);
  }
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-color: transparent;
}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid $black;
}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-color: transparent;
}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  border-right: 27px solid $black;
}


.mfp-counter {
  color: $black;
}
