.list {
  width: 100%;
  text-align: left;
  // @include trailer(1);
  // border-bottom: 1px solid black;
  @include adjust-font-size-to(13px);

  thead {
    // border-bottom: 1px solid #ccc;
  }
  td {
    padding: 3px 0;
    a {
      display: block;
      color: black;
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }
  .order {
    td {
      border-top: 1px solid black;
    }
  }

  .shipping-costs {
    td {
      border-top: 1px solid #dedede;
    }
  }

  .total {
    td {
      border-top: 1px solid black;
    }
  }

  .alert {
    td {
      border-top: 1px solid black;
      padding: 6px 0;
      text-align: center;
    }

  }
  .order-number {
    vertical-align: top;
  }
  .date {
    vertical-align: top;
  }
  .product {
    @include adjust-font-size-to(13px, 2/3);
  }
  .quantity {
    vertical-align: top;
    text-align: right;
    input {
      text-align: right;
      width: 100%;
    }
  }
  .price {
    text-align: right;
    .unit {
      color: #999;
    }
  }
  .edit {
    text-align: center;
  }


  // order-columns
  @for $i from 1 through $main-inner-container-width {
    .col-#{$i} {
      width: columns($i, $main-inner-container-width);
    }
  }

}
