.list {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  // @include trailer(1);
  // border-bottom: 1px solid black;
  @include adjust-font-size-to(13px);

  thead {
    th {
      border-bottom: 1px solid black;
    }
    th + th {
      padding-left: 10px;
    }
    .edit {
      padding-left: 10px;
      padding-right: 0;
      text-align: right;
    }
  }

  tbody tr:first-child td {
    padding-top: 10px;
  }

  td {
    padding-bottom: 10px;
    vertical-align: top;
    a {
      color: black;
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }
  td + td {
    padding-left: 10px;
  }


  .order {
    td {
      padding-top: 10px;
      border-bottom: 1px solid rgba(black,.1);
    }
  }

  .shipping-costs {
    td {
      border-top: 1px solid rgba(black,.1);
      padding-top: 10px;
    }
  }
  .total {
    td {
      border-top: 1px solid black;
      padding-top: 10px;
    }
  }
  .alert {
    td {
      border-top: 1px solid black;
      padding: 10px 0;
      text-align: center;
      border-bottom: 1px solid rgba(black,.1);
    }
  }

  .order-number {
    a {
      color: #369;
    }
  }

  .issue-link {
    text-align: center;
  }

  .product {
    vertical-align: middle;
    @include adjust-font-size-to(13px, 2/3);
  }

  .quantity {
    text-align: right;
    input {
      padding: 0;
      width: 3em;
      text-align: right;
    }
  }

  .price {
    text-align: right;
    .unit {
      color: #999;
      float: left;
      @include at-breakpoint($wide-screen) {
        padding-left: 1.5em;
      }
    }
  }

  .edit {
    text-align: right;
  }


  // list-columns
  @for $i from 1 through 20 {
    .col-#{$i} {
      width: $i * 5%;
    }
  }

}
