.list {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  @include adjust-font-size-to(13px);

  thead {
    th {
      border-bottom: 2px solid $lighter-gray;
      @include padding-trailer(.35);
    }
    th + th {
      padding-left: 10px;
    }
    .edit {
      padding-left: 10px;
      padding-right: 0;
      text-align: right;
    }
    &.with-border-top {
      th {
        @include padding-leader(.5);
        border-top: 2px solid $gray;
      }
    }
  }

  tbody tr:first-child td {
    padding-top: 15px;
  }

  td {
    padding-bottom: 10px;
    vertical-align: top;
    a {
      color: black;
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }
  td + td {
    padding-left: 10px;
  }


  .order {
    td {
      padding-top: 10px;
      border-bottom: 1px solid $lighter-gray;
    }
    &:last-child td {
      border-bottom: none;
    }
  }

  .shipping-costs {
    td {
      border-top: 2px solid $lighter-gray;
      padding-top: 10px;
    }
  }
  .total {
    td {
      border-top: 2px solid $gray;
      padding-top: 10px;
    }
  }
  .alert {
    td {
      border-top: 2px solid $gray;
      padding: 10px 0;
      text-align: center;
      // border-bottom: 2px solid rgba(black,.1);
    }
  }

  .order-number {
    a {
      color: #369;
    }
  }

  .issue-link {
    text-align: center;
  }

  .product-image {
    display: table-cell;
    padding-right: 20px;
    img {
      width: 130px;
      height: auto;
    }
  }

  .product {
    vertical-align: middle;
    @include adjust-font-size-to(13px, 2/3);
    .product-content {
      display: table-cell;
      vertical-align: middle;
    }
    .detail {
      color: #999;
      padding: .25em 0;
      &:first-child {
        padding-top: 1.5em;
      }
    }
  }

  .quantity {
    text-align: right;
    vertical-align: middle;
    input {
      padding: 0;
      width: 3em;
      text-align: right;
    }
  }

  .price {
    text-align: right;
    vertical-align: middle;
    .unit {
      color: #999;
      float: left;
      @include at-breakpoint($wide-screen) {
        padding-left: 1.5em;
      }
    }
  }

  .edit {
    text-align: right;
    vertical-align: middle;
  }


  // list-columns
  @for $i from 1 through 20 {
    .col-#{$i} {
      width: $i * 5%;
    }
  }

}
