.main {
  @include padding-trailer(5);
}

$main-context: 9;

.main-content {
  @include span-columns(6, $main-context);
}

.main-title {
  @include trailer(1);
  font-size: 28px;
  line-height: $base-line-height * 3 - 1;
  border-bottom: 1px solid #ccc;
  .alert {
    margin-left: 6px;
    @include ellipsis;
    @include adjust-font-size-to(16px);
    color: #999;
  }
  .pills {
    margin: 0;
    position: relative;
    top: 3px;
    left: 10px;
  }
}



.main-block {
  @include trailer(2);
}

.main-block-title {
  @include adjust-font-size-to(24px);
  button, a.button {
    position: relative;
    top: 11px;
    left: 12px;
  }
  .glyphicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(30px / 2);
    margin: 0 .3em;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-indent: -1px;
    color: white;
    background-color: $green;
  }
}

.main-block-sub-title {
  @include adjust-font-size-to(18px);
  @include leader(.5);
  @include trailer(.5);
}


.main-list {
  @include reset-box-model;
  list-style: none;
  @include adjust-font-size-to(13px);
  @include trailer(1);
  li {
    @include pie-clearfix;
  }
  .title {
    float: left;
    margin-right: 10px;
    width: 5em;
    text-align: right;
  }
  .content {
    float: left;
    .alert {
      margin-left: 0.5em;
    }
  }
}



.paper-style {
  .main-title {
    margin-bottom: 0;
    border-bottom: none;
  }
  .main-block {
    margin-bottom: 0;
    border: 1px solid #eee;
    border-bottom: 1px transparent;
    padding: 2em;
    @include background-image( linear-gradient( rgba(black, 0), rgba(black, 0.02) ) );
    &.last-main-block {
      border-bottom: 1px solid #eee;
    }
    &.current {
      background-color: #ffd;
    }
  }
  .main-block + .main-block {
    border-top: 1px dashed #eee;
  }
  .main-block-title {
    button, a.button {
      left: 0;
      float: right;
    }
  }
  .form-action {
    float: right;
  }

  .form-group + .main-block-sub-title {
    @include leader(1.5);
  }

}
