.main {
  @include padding-trailer(5);
}

$main-context: 9;

.main-content {
  @include padding-leader(3);
  @include span-columns(6, $main-context);
  .product & {
    text-align: center;
  }
}

.main-title {
  @include trailer(1);
  font-size: 24px;
  line-height: $base-line-height * 2 - 1;
  padding: 12px 0 5px;
  border-bottom: 1px solid $gray;
  letter-spacing: 1px;
  .alert {
    margin-left: 6px;
    @include ellipsis;
    @include adjust-font-size-to(16px);
    color: #999;
  }
  .pills {
    margin: 0;
    position: relative;
    top: 3px;
    @include at-breakpoint($wide-screen) {
      margin-left: 10px;
    }
  }
  .en {
    font-size: 36px;
    margin-right: .2em;
    @extend %light;
  }
}

.main-block {
  @include trailer(1.5);
  .row {
    @include pie-clearfix;
  }
}

.main-block-col-2 {
  float: left;
  width: 45%;
  & + & {
    margin-left: 5%;
    // border-left: 1px solid rgba(black, 0.05);
    padding-left: 5%;
  }
  .form-group:last-child {
    @include trailer(0);
  }
}



.main-block-title {
  @include adjust-font-size-to(24px);
  button, a.button {
    position: relative;
    top: 11px;
    left: 12px;
  }
}

.main-block-sub-title {
  @include adjust-font-size-to(18px);
  @include leader(.5);
  @include trailer(.5);
  .form-group {
    margin: 0 0 0 6px;
    display: inline-block;
  }
}


.main-list {
  @include reset-box-model;
  list-style: none;
  @include adjust-font-size-to(13px);
  // @include padding-trailer(.5);
  // border-bottom: 2px solid $gray;
  @include trailer(1);
  li {
    @include pie-clearfix;
  }
  .title {
    float: left;
    margin-right: 10px;
    width: 6em;
    text-align: right;
  }
  .content {
    float: left;
    .alert {
      margin-left: 0.5em;
    }
  }
}
