.main {
  @include padding-trailer(5);
}

$main-context: 9;

.main-content {
  @include padding-leader(3);
  @include span-columns(6, $main-context);
}

.main-title {
  @include trailer(1);
  font-size: 28px;
  line-height: $base-line-height * 3 - 1;
  border-bottom: 1px solid #ccc;
  .alert {
    margin-left: 6px;
    @include ellipsis;
    @include adjust-font-size-to(16px);
    color: #999;
  }
  .pills {
    margin: 0;
    position: relative;
    top: 3px;
    left: 10px;
  }
}

.main-block {
  @include trailer(2);
  .row {
    @include pie-clearfix;
  }
}

.main-block-col-2 {
  float: left;
  width: 45%;
  & + & {
    margin-left: 5%;
    // border-left: 1px solid rgba(black, 0.05);
    padding-left: 5%;
  }
}



.main-block-title {
  @include adjust-font-size-to(24px);
  button, a.button {
    position: relative;
    top: 11px;
    left: 12px;
  }
  .glyphicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    @include border-radius(30px / 2);
    margin: 0 .3em;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-indent: -1px;
    color: white;
    background-color: $green;
  }
}

.main-block-sub-title {
  @include adjust-font-size-to(18px);
  @include leader(.5);
  @include trailer(.5);
  .form-group {
    margin: 0 0 0 6px;
    display: inline-block;
  }
}


.main-list {
  @include reset-box-model;
  list-style: none;
  @include adjust-font-size-to(13px);
  @include trailer(1);
  li {
    @include pie-clearfix;
  }
  .title {
    float: left;
    margin-right: 10px;
    width: 5em;
    text-align: right;
  }
  .content {
    float: left;
    .alert {
      margin-left: 0.5em;
    }
  }
}


// 模擬紙張長相
.paper-style {
  .main-title {
    margin-bottom: 0;
    border-bottom: none;
    small {
      font-size: 24px;
    }
  }
  .main-block-title {
    position: relative;
    @include padding-trailer(.5);
    border-bottom: 2px solid $gray;
    @include trailer(.35);
    @include adjust-font-size-to(20px);
    .step {
      display: inline-block;
      margin-top: 24px;
      font-size: 60px;
      @extend %light;
      margin-right: 6px;
    }
    button, a.button {
      position: absolute;
      left: auto;
      top: auto;
      right: 0;
      bottom: 12px;
    }
  }
  .form-action {
    text-align: right;
  }
  .form-group + .main-block-sub-title {
    @include leader(1.5);
  }
  // 單一訂單頁使用
  button.action, a.button.action {
    padding: 0.5em 3em;
  }
}
