.nav {
  @include padding-leader(3);
  .logo {
    padding-left: rhythm(3);
    text-indent: -.9em;
    font-family: Futura-Medium;
    letter-spacing: .2em;
  }
  h2 {
    display: none;
  }
  ul {
    @include reset-box-model;
    list-style: none;
    @include adjust-font-size-to(12px);
  }
  .main-nav {
    padding-left: rhythm(3);
    a {
      @include link-colors(black);
    }
  }
  .shop-nav {
    @extend %subpixel;
    float: left;
    padding: rhythm(.5) rhythm(1);
    @include padding-leader(2);
    @include leader(5);
    background: black;
    a {
      @include link-colors(white);
    }
  }
  // for affix plugin
  &.affix {
    position: fixed;
    @media (max-height: 500px) {
      position: static;
    }
  }
}

