.nav {
  .nav-inner {
    @include padding-leader(3.5);
    @include pie-clearfix;
  }
  .logo {
    font-family: Futura-Medium;
    letter-spacing: .2em;
    margin-left: columns(1, 3) + gutter(3);
    position: relative;
    left: -28px;
    @include trailer(1);
    a {
      display: block;
      @include replace-text-with-dimensions("logo.png");
      background-image: none, image-url("logo.svg");
    }
  }
  h2 {
    display: none;
  }
  ul {
    @include reset-box-model;
    list-style: none;
    @include adjust-font-size-to(12px);
  }
  .main-nav {
    padding-left: columns(1, 3) + gutter(3);
    a {
      @include link-colors(black);
    }
    .divider {
      width: 60%;
      opacity: .3;
    }
    .sp a {
      @include link-colors(#a00);
    }
  }
  .shop-nav {
    @extend %subpixel;
    float: left;
    padding: rhythm(.5) rhythm(1);
    @include padding-leader(2);
    @include leader(5);
    background: rgba(black, .85);
    a {
      @include link-colors(white);
    }
  }
  // for affix plugin
  .nav-inner.affix {
    position: fixed;
    width: columns(3, 12, static);
    @include at-breakpoint($wide-screen) {
      @include with-grid-settings(12,90px,10px,0) {
      width: columns(3, 12, static);
      }
    }
    @media (max-height: 640px) {
      position: static;
    }
  }
}

