.add-cart {
  @include adjust-font-size-to(15px);
  @include link-colors(black, white);
  border: 1px solid black;
  padding: 5px 10px;
  @include transition(.3s);

  &:hover {
    $hover-color: #a00;
    background: $hover-color;
    border-color: $hover-color;
    text-decoration: none;
  }
}
