.breadcrumb {
  display: inline-block;
  @include reset-box-model;
  list-style: none;
  margin: 0 0 0 6px;
  @include adjust-font-size-to(13px);
  vertical-align: text-bottom;
  li {
    float: left;
    color: #999;
  }
  li + li:before {
    content: "/";
    margin: 0 6px;
    color: #aaa;
  }
  .active {
    color: $black;
  }
}
