button, a.button {
  text-align: center;
  padding: 0 24px;
  border: none;
  background-color: #666;
  background-image: none;
  color: #eee;
  text-shadow: none;
  @include adjust-font-size-to(13px);
  font-family: "AvenirNext-Regular", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  @extend %subpixel;

  @include border-radius(0);

  // 狀態
  &.action {
    background-color: black;
  }
  &.danger {
    background-color: $red;
  }
  &.disable {
    background-color: #ccc;
    color: #888;
  }
  &:hover {
    background-image: none;
    color: #999;
  }
  &.active {
    background-color: $wall-white;
    color: #333;
    cursor: default;
  }

}


