.pagination {
  @include pie-clearfix;
  @include reset-box-model;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 0.125em;
    a {
      color: $black;
      text-align: center;
      display: inline-block;
      padding: 0.25em 0.75em;
      background-color: $wall-white;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: $white;
        background-color: $red;
      }
      &.more {
        padding: 0.25em 0.5em;
      }
      &.disable {
        cursor: default;
        background-color: #eee;
        &:hover {
          color: $black;
        }
      }
      &.active {
        color: $white;
        background-color: $black;
      }
    }
  }

}

